.first-screen-block {
  padding:0;
  background-color:transparent;
  z-index:10;
}

.menu {
  position:absolute;
  top:35px;
  right:35px;
  &-mod {
    color:white;
    width:40px;
    height:35px;
  }
}

.screen-arrow {
  position:absolute;
  left:50%;
  bottom:70px;
  transform: translate(-50%, 0);
  z-index: 10;

  &-mod {
    width:26px;
    height:16px;
    color:rgba(255,255,255,0.7);
    &:hover {
      color:rgba(78,136,57,0.7);
    }
  }
}

.bg-portfolio {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

  &-mod {
    width:1175px;
    height:313px;
    color:rgba(255,255,255,0.12);
  }
}

.first-screen-bg {
  position:absolute;
  width:100%;
  top:100%;
  transform: translate(0, -100%);
  margin:0;
  padding:0;
  font-size:0;
}

.first-screen-decor {
  &__left {
    fill:#ebefe2;
  }
  &__right {
    fill:#f4f5f0;
  }
}

.about {
  width:100vw;
  background-color:#f4f5f0;

  &__left {
    float:left;
    width:50%;
    background-color:#ebefe2;
    position:relative;
  }

  &__title {
    font-family:'Sansus Webissimo', 'Arial', sans-serif;
    font-size:63px;
    line-height:66px;
    color:#373e42;
    text-transform:uppercase;
    text-align:center;
    position:relative;
    padding:0;
    margin:20px 0 5px;
    z-index:10;
  }

  &__bg {
    position:absolute;
    top:40px;
    left:50%;
    transform: translate(-50%,-50%);

    &-mod {
      width:357px;
      height:125px;
      color:#e2ebd0;
    }
  }

  &__logo {
    width:420px;
    height:420px;
    background-image: url('../img/about_logo.jpg');
    background-position:center center;
    background-size:cover;
    z-index:10;
    margin:0 auto 35px;
  }

  &__mini-title {
    font-family:'Sansus Webissimo', 'Arial', sans-serif;
    font-size:35px;
    line-height:41px;
    color:#566358;
    text-transform:uppercase;
    text-align:center;
    margin:20px 0 0 0;
  }

  &__text {
    width:415px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size:16px;
    line-height:24px;
    margin:0 auto;
    color:#566358;
  }

  &__right {
    float:right;
    width:50%;
    background-color:#f4f5f0;
  }

  &__exp-text {
    width:90%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size:16px;
    line-height:24px;
    margin:0 auto 25px;
    color:#566358;
  }

  &__exp-title {
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size:28px;
    line-height:32px;
    width:90%;
    margin:15px auto 0;
    color:#566358;
  }
}

.exp {
  &__list {
    list-style-type:none;
    padding:0;
    margin:0;
    width:90%;
    margin:0 auto;
    display:block;
    padding:20px 0;
    font-size:0;
  }

  &__item {
    display: inline-block;
    position:relative;
    margin-right:30px;
  }

  &__name {
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size:13px;
    line-height:13px;
    position:absolute;
    color:#4e8839;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:60px;
    text-align:center;
    display:block;
  }
}

.g-circles {
  fill: none;
  stroke-width: 20;
}

.html5 {
  stroke-dasharray: 225 283;
}

.css3 {
  stroke-dasharray: 175 283;
}

.js {
  stroke-dasharray: 135 283;
}

.php {
  stroke-dasharray: 35 283;
}

.mysql {
  stroke-dasharray: 5 283;
}

.nodejs {
  stroke-dasharray: 75 283;
}

.mongo {
  stroke-dasharray: 0 283;
}

.git {
  stroke-dasharray: 150 283;
}

.gulp {
  stroke-dasharray: 150 283;
}

.bower {
  stroke-dasharray: 160 283;
}

.map-wrapper {
  clear:both;
  width:100vw;
  height:calc(100% + 185px);
  position:relative;
  z-index:0;
}
#map {
  width:100vw;
  height:calc(100%);
}

.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}

.contacts {
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, calc(-50% - 94px));
  width:380px;
  background-color:rgba(244,245,240,0.85);
  border-radius:5px;
  font-size:0;
  z-index:10;
  padding-bottom:10px;

  &__list {
    list-style-type:none;
    padding:0;
    margin:0 auto;
    width:80%;
    display:block;
    font-size:0;
  }

  &__item {
    text-align:left;
    height:40px;
  }

  &__link {
    display:inline-block;
    font-size:16px;
    line-height:24px;
    vertical-align:middle;
    font-family: 'Roboto', 'Arial', sans-serif;
    color:#566358;
    text-decoration:none;
    text-align:left;

    &-mod {
      color:#74a163;
      width:22px;
      height:22px;
      display:inline-block;
      vertical-align:middle;
      margin-right:20px;
    }
  }
}

.footer {
  position:absolute;
  bottom:0;
  width:100vw;
  z-index:100;
  &__row {
    width:100vw;
    background-color:rgba(0,0,0,0.85);
    height:147px;
  }

  &__col {
    width:32%;
    float:left;
    padding:20px 30px 0 30px;
    box-sizing:border-box;
  }

  &__text {
    font-size:16px;
    line-height:24px;
    font-family: 'Roboto Light', 'Arial', sans-serif;
    color:rgba(255,255,255,0.85);
    text-align:left;
    font-weight:normal;
    font-style:normal;
  }

  &__list {
    list-style-type:none;
    padding:0;
    margin:0;
  }

  &__item {
    display:inline-block;
    margin-right:10px;
  }

  &__link {
    font-size:16px;
    line-height:24px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color:#ffffff;
    text-decoration:none;
    text-align:left;
    &:hover {
      text-decoration:underline;
    }
  }

  &__line {
    width:1px;
    background-color:rgba(255,255,255,0.2);
    height:60%;
    float:left;
    margin-top:24px;
  }

  &__quote {
    font-size:16px;
    line-height:26px;
    font-family: 'Roboto Thin Italic', 'Arial', sans-serif;
    color:rgba(255,255,255,0.50);
    text-decoration:none;
    text-align:left;
  }

  &__autor {
    font-family:'Roboto Bold Italic', 'Arial', sans-serif;
    font-size:16px;
    line-height:26px;
    color:rgba(255,255,255,0.50);
    text-decoration:none;
    text-align:left;
  }

  &__copy {
    background-color:rgba(108,156,90,0.85);
    clear:both;
    text-align:center;
    font-family:'Roboto Light', 'Arial', sans-serif;
    font-size:16px;
    line-height:38px;
    color:rgba(255,255,255,0.85);
  }
}

