.footer {
  position:absolute;
  bottom:0;
  width:100vw;
  z-index:100;
  &__row {
    width:100vw;
    background-color:rgba(0,0,0,0.75);
    padding-bottom:20px;
  }

  &__col {
    width:34%;
    float:left;
    padding:20px 20px 0 20px;
    box-sizing:border-box;
    position:relative;

    @include desktop {
      width:50%;
      padding:20px 25px 0 25px;
    }

    @include tablets {
      padding-top:0;
      margin-top:25px;
      width:100%;
      text-align:center;
    }

    &_left {
      width:32%;

      @include desktop {
        width:50%;
      }

      @include tablets {
        width:100%;
      }

    }

    &_right {
      width:34%;

      @include desktop {
        width:100%;
        margin-top:30px;
      }

      @include tablets {
        margin-top:25px;
      }

    }

    &_hr:after, &_hr:before {
        content:'';
        display:block;
        position:absolute;
        width:1px;
        background-color:rgba(255,255,255,0.2);
        height:95px;

        @include tablets {
          height:0.072rem;
          width:90%;
        }

      @include phones {
        height:0.077rem;
      }
    }
    &_hr:after {
      left:-10px;
      top:20px;

      @include tablets {
        height:1px;
        top:-15px;
        left:50%;
        transform: translate(-50%,0);
      }

      @include phones {
        height:1px;
      }

    }
    &_hr:before {
      right:10px;
      top:20px;

      @include desktop {
        display:none;
      }

      @include tablets {
        display:block;
        top:calc(100% + 15px);
        left:50%;
        transform: translate(-50%,0);
      }

    }

  }

  &__text {
    font-size:16px;
    line-height:24px;
    font-family: 'Roboto Light', 'Arial', sans-serif;
    color:rgba(255,255,255,0.85);
    text-align:left;
    font-weight:normal;
    font-style:normal;

    @include tablets {
      text-align:center;
    }
  }

  &__list {
    list-style-type:none;
    padding:0;
    margin:0;
  }

  &__item {
    display:inline-block;
    margin-right:10px;
    &:last-child {
      margin-right:0;
    }
  }

  &__link {
    font-size:16px;
    line-height:24px;
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    color:#ffffff;
    text-decoration:none;
    text-align:left;
    font-weight:700;
    font-style:bold;
    &:hover {
      text-decoration:underline;
    }
  }

  &__quote {
    font-size:16px;
    line-height:26px;
    font-family: 'Roboto Thin Italic', 'Arial', sans-serif;
    color:rgba(255,255,255,0.50);
    text-decoration:none;
    text-align:left;
    font-style:italic;

    @include tablets {
      text-align:center;
    }
  }

  &__autor {
    font-family:'Roboto Bold Italic', 'Arial', sans-serif;
    font-size:16px;
    line-height:26px;
    color:rgba(255,255,255,0.50);
    text-decoration:none;
    text-align:left;
    font-style:italic;

    @include tablets {
      text-align:center;
    }
  }

  &__copy {
    background-color:rgba(108,156,90,0.85);
    clear:both;
    text-align:center;
    font-family:'Roboto Light', 'Arial', sans-serif;
    font-size:16px;
    line-height:38px;
    color:rgba(255,255,255,0.85);
  }
}
