.social {
  position:absolute;
  top:0;
  left:25px;

&__list {
  display:inline-block;
  list-style-type:none;
  padding:0;
  margin:35px auto 41px;
  text-align:center;
}

&__item {
  display:inline-block;
  margin:0 12px;
}

&-mod {
  color:rgba(255,255,255,0.5);
  height:22px;
  &:hover {
    color:#4e8839;
  }
  &-white {
    color:rgba(255,255,255,1.0);
    height:22px;
    &:hover {
      color:#4e8839;
    }
  }
  &-vk {
    height:17px;
    color:rgba(255,255,255,0.5);
    &:hover {
      color:#4e8839;
    }
    &-white {
      height: 17px;
      color: rgba(255, 255, 255, 1.0);
      &:hover {
        color: #4e8839;
      }
    }
  }
}
}

.title-hr {
  width:90px;
  height:3px;

  &_white {
    background-color:#ffffff;
    margin:0 auto 31px;
  }

  &_gray {
    background-color:#373e42;
    margin:0 auto 34px;
  }

  &_green {
    background-color:#566358;
    margin:5px auto 20px;
  }
}

