.works {
  position: relative;
  width: 100vw;
  background-color: #f8f9f5;
  padding-top:30px;

  &__title {
    font-family: 'Sansus Webissimo', 'Arial', sans-serif;
    font-size: 63px;
    line-height: 66px;
    color: #373e42;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 30px 0 5px;
    z-index: 10;
  }

  &__bg {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:0;

    &-mod {
      width: 450px;
      color: rgba(#e2ebd0, 0.5);
    }
  }

  &-slider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height:750px;

    @include tablets {
      flex-direction: column;
      height:auto;
    }

    &__left {
      background-color:#ebefe2;
      width:50%;
      flex-direction: column;
      display:flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;

      @include tablets {
        width:100%;
        padding:40px 0;
      }

    }

    &__list {
      display:block;
      padding:0;
      margin:0;
      list-style-type:none;
      font-size:0;
    }

    &__item {
      text-align:center;
      margin:0;
      padding:0;
    }

    &__title {
      font-family:'Sansus Webissimo', 'Arial', sans-serif;
      font-size:35px;
      line-height:41px;
      color:#566358;
      text-transform:uppercase;
      text-align:center;
      margin:0;
    }

    &__desc {
      font-family:'Roboto Medium', 'Arial', sans-serif;
      font-size:16px;
      line-height:26px;
      color:#4e8839;
      text-transform:uppercase;
      text-align:center;
      margin-top:10px;
    }

    &__link {
      text-decoration:none;
      margin:40px auto 0;
      text-align:center;
      display:inline-block;
      height:45px;
      font-family:'Roboto Medium', 'Arial', sans-serif;
      font-size:16px;
      line-height:45px;
      color:#fff;
      background-color:#4e8839;
      padding:0px 20px;
      border-radius:25px;
      vertical-align:middle;

      &:hover {
        opacity:0.8;
      }

      &-mod {
        margin-right:10px;
        width:20px;
        height:20px;
        color:#fff;
        display:inline-block;
        vertical-align:middle;
      }
    }

    &__right {
      width:50%;
      display:flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;

      @include tablets {
        width:100%;
      }
    }

    &__logo {
      height:520px;
      background-color:#e1e4d7;
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;

      @include  tablets {
        height:420px;
      }

      @include phones {
        height:320px;
      }

    }

    &__buttons {
      height:230px;
      display:flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;

      @include  tablets {
        height:160px;
      }

      @include phones {
        height:100px;
      }

    }

    &__button {
      width:50%;
      position:relative;

      &-mod {
        width:43px;
        height:27px;
        color:rgba(#fff, 0.7);
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
      }
    }

    &__next {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background-color:rgba(#b0b7aa, 0.5);
      z-index:10;

      &:hover {
        background-color:rgba(#b0b7aa, 0.7);
        .works-slider__button-mod {
          color: rgba(#4e8839, 0.7);
        }
      }
    }

    &__prev {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background-color:rgba(#93998d, 0.5);
      z-index:10;

      &:hover {
        background-color:rgba(#93998d, 0.7);
        .works-slider__button-mod {
          color: rgba(#4e8839, 0.7);
        }
      }
    }

    &__next-image {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;

      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;
    }

    &__prev-image {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;

      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;
    }

  }

}

.feedback {
  position:relative;
  width: 100vw;
  padding:30px 0 188px;
  background-image:url('../img/works_bg.jpg');
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;

  @include desktop {
    padding:30px 0 255px;
  }

  @include laptop {
    padding:30px 0 255px;
  }

  @include tablets {
    padding:30px 0 300px;
  }

  @include phones {
    padding:30px 0 330px;
  }

  &__bg {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);

    &-mod {
      width: 499px;
      height: 175px;
      color: rgba(#e2ebd0, 0.5);
    }
  }

  &__block {
    width:380px;
    margin:50px auto 75px;
    padding-top:20px;
    background-color:rgba(#dadbd6,0.5);
    border-radius:5px;
    position:relative;
  }

  &__mini-title {
    font-family:'Sansus Webissimo', 'Arial', sans-serif;
    font-size:35px;
    line-height:41px;
    color:#566358;
    text-transform:uppercase;
    text-align:center;
    margin:20px 0 0 0;
  }

  &__form {
    margin-top:40px;
  }

  &__input {
    display:block;
    height:45px;
    width:340px;
    margin:20px auto;
    padding-left:20px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size:16px;
    line-height:26px;
    border:none;
    border-radius:25px;

    &-text {
      height:140px;
      padding-top:10px;
      resize:none;
    }

    &:focus {
      outline:none;
    }
  }

  &__list {
    display:block;
    list-style-type:none;
    padding:0;
    margin:0 0 0 0;
    width:100%;
    text-align:center;
    font-size:0px;
    border-radius:0 0 5px 5px;
  }

  &__item {
    display:inline-block;
    height:45px;
    background-color:rgb(108,156,90);
    opacity:0.8;
    margin:0;
    width:50%;
    box-sizing:border-box;
    &-left {
      border-right:1px solid rgba(222,227,231,0.5);
      border-radius:0 0 0 5px;
    }
    &-right {
      border-left:1px solid rgba(222,227,231,0.5);
      border-radius:0 0 5px 0;
    }

  }

  &__button {
    margin:0;
    padding:0;
    display:inline-block;
    font-family:'Roboto Medium', 'Arial', sans-serif;
    font-size:16px;
    line-height:45px;
    width:100%;
    height:100%;
    border:none;
    background-color:rgb(108,156,90);
    cursor:pointer;
    color:#ffffff;
    &:hover {
      background-color:#487e38;
    }

    &-left {
      border-radius:0 0 0 5px;
    }

    &-right {
      border-radius:0 0 5px 0;
    }

  }

  &__arrow {
    display:block;
    text-align:center;
    margin-bottom:75px;
  }

}

.comments {
  width:100%;
  margin:25px auto 0;
  display:flex;
  justify-content: center;

  @include tablets {
    flex-direction:column;
    align-items: center;
  }

  &__block {
    width:450px;
    text-align:center;
    padding:0 25px;
    box-sizing:border-box;

    @include laptop {
      width:45%;
    }

    @include tablets {
      width:450px;
      margin-bottom:50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }


  &__logo {
    width:78px;
    height:78px;
    border-radius:50%;
    display:inline-block;
    background-position:center center;
    background-size:cover;

    &_koval {
      background-image:url('../img/teacher-1.png');
    }

    &_zar {
      background-image:url('../img/teacher-2.png');
    }
  }

  &__text {
    font-family: 'Roboto Thin Italic', 'Arial', sans-serif;
    font-size:16px;
    line-height:26px;
    color:#5d5a55;
    margin-top:10px;
    text-align:left;
    font-style:italic;
    position:relative;

    &:before {
      content:'';
      display:block;
      position:absolute;
      width:75px;
      height:61px;
      left:0;
      top:-30px;
      background-image: url('../img/quotes.png');
    }

  }

  &__autor {
    font-family: 'Roboto Bold Italic', 'Arial', sans-serif;
    font-size:16px;
    line-height:24px;
    color:#4e8839;
    margin-top:10px;
    font-style:italic;

    &-desk {
      font-family: 'Roboto Italic', 'Arial', sans-serif;
      color:#566358;
      font-size:16px;
      line-height:24px;
      font-style:italic;
    }
  }
}


