&__logo {
  height:520px;
  background-color:#e1e4d7;
  background-image:url('../img/works_yoga.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
}

&__next-image {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-image:url('../img/works_trialog.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
}

&__prev-image {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-image:url('../img/works_loftblog.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
}