html, body {
  overflow-x: hidden;
  height:100%;
  width:100%;
  margin: 0;
}

.clearfix::before, .clearfix::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}

html {

  @include laptop {
    font-size:15px;
  }

  @include tablets {
    font-size:14px;
  }

  @include phones {
    font-size:13px;
  }

}