include ../_blocks/_first-screen_block

section.about.clearfix
    div.about__left
        h1.about__title Обо мне
        div.about__bg
                +icon('about_header', 'about__bg-mod')
        div.title-hr.title-hr_gray
        div.about__logo
        div.about__mini-title Кто я
        div.title-hr.title-hr_green
        div.about__text
            p Я веб-разработчик из Москвы. Мне 25 лет.  Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p Этот сайт я сделал в рамках обучения в Школе онлайн-образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
    div.about__right
        div.about__mini-title
            | Чем я могу быть
            br
            | вам полезен
        div.title-hr.title-hr_green
        div.about__exp-text Больше всего меня привлекает Frontend - разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
        div.about__exp-title Frontend
        ul.exp__list
            li.exp__item
                div.exp__name HTML5
                svg(width="110", height="110" class="g-circles")
                    circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                    circle(r="45", cx="55", cy="55", stroke="#74a163", class="html5", transform="rotate(-89.9 55 55)")
            li.exp__item
                div.exp__name CSS3
                svg(width="110", height="110" class="g-circles")
                    circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                    circle(r="45", cx="55", cy="55", stroke="#74a163", class="css3", transform="rotate(-89.9 55 55)")
            li.exp__item
                div.exp__name JavaScript & jQuery
                svg(width="110", height="110" class="g-circles")
                    circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                    circle(r="45", cx="55", cy="55", stroke="#74a163", class="js", transform="rotate(-89.9 55 55)")

        div.about__exp-title Backend
        ul.exp__list
                li.exp__item
                    div.exp__name PHP
                    svg(width="110", height="110" class="g-circles")
                        circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                        circle(r="45", cx="55", cy="55", stroke="#74a163", class="php", transform="rotate(-89.9 55 55)")
                li.exp__item
                    div.exp__name mySQL
                    svg(width="110", height="110" class="g-circles")
                        circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                        circle(r="45", cx="55", cy="55", stroke="#74a163", class="mysql", transform="rotate(-89.9 55 55)")
                li.exp__item
                    div.exp__name Node.js & npm
                    svg(width="110", height="110" class="g-circles")
                        circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                        circle(r="45", cx="55", cy="55", stroke="#74a163", class="nodejs", transform="rotate(-89.9 55 55)")
                li.exp__item
                    div.exp__name Mongo.db
                    svg(width="110", height="110" class="g-circles")
                        circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                        circle(r="45", cx="55", cy="55", stroke="#74a163", class="mongo", transform="rotate(-89.9 55 55)")

        div.about__exp-title Workflow
        ul.exp__list
                li.exp__item
                    div.exp__name Git
                    svg(width="110", height="110" class="g-circles")
                        circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                        circle(r="45", cx="55", cy="55", stroke="#74a163", class="git", transform="rotate(-89.9 55 55)")
                li.exp__item
                    div.exp__name Gulp
                    svg(width="110", height="110" class="g-circles")
                        circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                        circle(r="45", cx="55", cy="55", stroke="#74a163", class="gulp", transform="rotate(-89.9 55 55)")
                li.exp__item
                    div.exp__name Bower
                    svg(width="110", height="110" class="g-circles")
                        circle(r="45", cx="55", cy="55", stroke="#dfdcd5", fill="none")
                        circle(r="45", cx="55", cy="55", stroke="#74a163", class="bower", transform="rotate(-89.9 55 55)")


section.map-wrapper
    div#map
    div.contacts
        div.about__mini-title Контакты
        div.title-hr.title-hr_green
        ul.contacts__list
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('skype', 'contacts__link-mod')
                    | yaickiu1806
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('envelope2', 'contacts__link-mod')
                    | yaickiu@gmail.com
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('phone2', 'contacts__link-mod')
                    | +7(926)394-95-09
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('map_marker', 'contacts__link-mod')
                    | г. Москва, Таганская площадь, 88

    include ../_blocks/_footer