section.map-wrapper
    div#map
    div.contacts
        div.about__mini-title Контакты
        div.title-hr.title-hr_green
        ul.contacts__list
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('skype', 'contacts__link-mod')
                    | yaickiu1806
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('envelope2', 'contacts__link-mod')
                    | yaickiu@gmail.com
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('phone2', 'contacts__link-mod')
                    | +7(926)394-95-09
            li.contacts__item
                a.contacts__link(href="#")
                    +icon('map_marker', 'contacts__link-mod')
                    | г. Москва, Таганская площадь, 88